<div class="container-fluid">
  Cluster Overview
  <select ng-model="input.sortCluster" ng-options="sort for sort in sorts"></select>
  <input type="text" ng-model="input.indexFilter" placeholder="Index Filter" />

  <table class="table table-hover">
    <thead>
      <tr>
        <th ng-repeat="indexName in indexes | orderBy: '' | filter: input.indexFilter">
          {{indexName}}

          <div>
            size: {{statusData.indices[indexName].index.size_in_bytes | bytes}}<br />
            docs: {{statusData.indices[indexName].docs.num_docs}}
          </div>

          <div>
            <span class="badge" ng-repeat="alias in stateData.metadata.indices[indexName].aliases">
              <i ng-click="btnRemoveAliasClicked(indexName, alias)" class="fa fa-times discard"></i>
              {{alias}}
            </span>
          </div>

          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
              Info <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu">
              <li role="menuitem"><a href="#" ng-click="btnIndexStatusClicked(indexName)">Index Status</a></li>
              <li role="menuitem"><a href="#" ng-click="btnIndexMetadataClicked(indexName)">Index Metadata</a></li>
            </ul>
          </div>

          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
              Actions <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu">
              <li role="menuitem"><a href="#" ng-click="btnNewAliasClicked(indexName)">New Alias...</a></li>
              <li role="menuitem"><a href="#" ng-click="btnRefreshClicked(indexName)">Refresh</a></li>
              <li role="menuitem"><a href="#" ng-click="btnFlushClicked(indexName)">Flush</a></li>
              <li role="menuitem"><a href="#" ng-click="btnCloseIndexClicked(indexName)" ng-if="stateData.metadata.indices[indexName].state == 'open'">Close</a></li>
              <li role="menuitem"><a href="#" ng-click="btnOpenIndexClicked(indexName)" ng-if="stateData.metadata.indices[indexName].state == 'close'">Open</a></li>
              <li role="menuitem"><a href="#" ng-click="btnDeleteClicked(indexName)">Delete...</a></li>
            </ul>
          </div>

        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
