<div class="container-fluid">
  Cluster Overview
  <select ng-model="input.sortCluster" ng-options="sort for sort in sorts"></select>
  <input type="text" ng-model="input.indexFilter" placeholder="Index Filter" />

  <table class="table table-hover">
    <thead>
      <tr>
        <th ng-repeat="index in indexes | orderBy: ['-state', 'name'] | filter: input.indexFilter">
          {{index.name}}

          <div ng-if="index.state == 'open'">
            size: {{statusData.indices[index.name].index.size_in_bytes | bytes}}<br />
            docs: {{statusData.indices[index.name].docs.num_docs}}
          </div>
          <div ng-if="index.state == 'close'">
            index: close
          </div>

          <div>
            <span class="badge" ng-repeat="alias in stateData.metadata.indices[index.name].aliases">
              <i ng-click="btnRemoveAliasClicked(index.name, alias)" class="fa fa-times discard"></i>
              {{alias}}
            </span>
          </div>

          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
              Info <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu">
              <li role="menuitem"><a href="#" ng-click="btnIndexStatusClicked(index.name)">Index Status</a></li>
              <li role="menuitem"><a href="#" ng-click="btnIndexMetadataClicked(index.name)">Index Metadata</a></li>
            </ul>
          </div>

          <div class="btn-group" uib-dropdown>
            <button type="button" class="btn btn-default" uib-dropdown-toggle>
              Actions <span class="caret"></span>
            </button>
            <ul uib-dropdown-menu role="menu">
              <li role="menuitem"><a href="#" ng-click="btnNewAliasClicked(index.name)">New Alias...</a></li>
              <li role="menuitem"><a href="#" ng-click="btnRefreshClicked(index.name)">Refresh</a></li>
              <li role="menuitem"><a href="#" ng-click="btnFlushClicked(index.name)">Flush</a></li>
              <li role="menuitem"><a href="#" ng-click="btnCloseIndexClicked(index.name)" ng-if="stateData.metadata.indices[index.name].state == 'open'">Close</a></li>
              <li role="menuitem"><a href="#" ng-click="btnOpenIndexClicked(index.name)" ng-if="stateData.metadata.indices[index.name].state == 'close'">Open</a></li>
              <li role="menuitem"><a href="#" ng-click="btnDeleteClicked(index.name)">Delete...</a></li>
            </ul>
          </div>

        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>

</div>
