<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-inline">
        <div class="form-group">
          Search
          <ui-select ng-model="input.index" ng-change="indexChanged()" theme="bootstrap" reset-search-input="true">
            <ui-select-match placeholder="Index">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="item in indices| orderBy:'' | filter: $select.search">
              <div ng-bind-html="trustAsHtml((item | highlight: $select.search))"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group">
          for documents where:
        </div>
      </div>

      <div class="form-inline">
        <div class="form-group">
          <ui-select ng-model="input.filters[0].logic" ng-change="indexChanged()" theme="bootstrap" reset-search-input="true">
            <ui-select-match placeholder="Logic">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="item in filterLogics | filter: $select.search">
              <div ng-bind-html="trustAsHtml((item | highlight: $select.search))"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group">
          <ui-select ng-model="input.filters[0].logic" ng-change="indexChanged()" theme="bootstrap" reset-search-input="true">
            <ui-select-match placeholder="Logic">{{$select.selected}}</ui-select-match>
            <ui-select-choices repeat="item in filterLogics | filter: $select.search">
              <div ng-bind-html="trustAsHtml((item | highlight: $select.search))"></div>
            </ui-select-choices>
          </ui-select>
        </div>
        <div class="form-group">
          <button class="btn btn-default"><i class="fa fa-plus"></i></button>
          <button class="btn btn-default"><i class="fa fa-minus"></i></button>
        </div>
      </div>

      <button class="btn btn-default">Search</button>
      Output results:
      <button class="btn btn-default">Search</button>
      Number of results:
      <button class="btn btn-default">Search</button>
      Show query source:
      <button class="btn btn-default">Search</button>

    </div>
  </div>
</div>
